* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #39a6b2;
    --secondary-color: #ddb83d;
    --tertiary-color: #f5f3e7;
    --quaternary-color:#131003;
}

body {
    color: var(--quaternary-color);
    font-family: Arial, Helvetica, sans-serif

}

header {
    background-color: var(--primary-color);
    background-size: cover;
    background-position: 100%;  
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image:url("../images/susan-wilkinson-lK7YpJxpS_A-unsplash_horizontal.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 300px;
}

ul li {
    margin-left: 20px;
    list-style-type:none;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.hero {
    background-image: url("../images/susan-wilkinson-lK7YpJxpS_A-unsplash_horizontal.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    min-height: 800px;
}

h2 {
    display:block;
    justify-content: center;
    font-size: 32px;
    margin-left: 550px;
    margin-top: 30px;
}

.bio {
    background-color: black;
    color: var(--primary-color);
    border-bottom: 4px Var(--primary-color);
    display: flex;
}

.bio p {
    margin: 15px 50px 10px 50px;
}

.section-title {
    display:block;
    justify-content: center;
}

.photo img {
    width: 400px;
    height: auto;
}

.skills h2 {

}
.skill-logos img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.work {
    background-color:var(--secondary-color)
}

.work-examples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    Margin-top: 2%
}



.work-examples article {
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 90%;
    padding: 30px;
}

.work-examples article {
    width: 44%;
    margin: 2% 1%;
}

.work-examples a {
    flex: 1 1 0%;
}

.work-examples a img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: 0% 0%;
}


.work-examples label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    text-align: center;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    padding: 1vh;
    border-radius:
}


#contact-info {
    background-color: var(--primary-color);
}

.get-in-touch {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.feeling-social {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.fa-facebook {
    background: #3b5998;
    color: white;
    padding: 10px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}