* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #39a6b2;
    --secondary-color: #ddb83d;
    --tertiary-color: #f5f3e7;
    --quaternary-color:#131003;
}

body {
    color: var(--quaternary-color);
    font-family: Arial, Helvetica, sans-serif

}
/* Styles for header */
header {
    background-color: var(--primary-color);
    background-size: cover;
    background-position: 100%;  
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image:url("../images/susan-wilkinson-lK7YpJxpS_A-unsplash_horizontal.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none
}

ul li {
    margin-left: 20px;
    list-style-type:none;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

/* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

footer h2 {
    color: var(--quaternary-color);
    font-size: 30px;
    margin: 0;
}
/* FOOTER STYLES END */

.hero {
    background-image: url("../images/susan-wilkinson-lK7YpJxpS_A-unsplash_horizontal.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    min-height: 800px;
}

h2 {
    color: var(--primary-color);
    display:block;
    justify-content: left;
    text-align: center;
    font-size: 32px;
    padding-top: 30px;
    margin-left: 50px;
}

.skills h2 {
    color: var(--quaternary-color);
    display: block;
    text-align: center;
}

.bio {
    background-color: black;
    color: var(--primary-color);
    border-bottom: 4px Var(--primary-color);
    display: flex;
}

.bio p {
    margin: 15px 50px 10px 50px;
}



.photo img {
    width: 400px;
    height: auto;
}
/* Start styles for skills section */
/*.skill-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}*/

#skills {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.skills-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* End styles for skills section */



/* Start styles for "my work" section */
.work {
    background-color:var(--quaternary-color)
}

.work-examples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    Margin-top: 2%
}

.work-examples article {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 90%;
    padding: 20px;
}

.work-examples article {
    width: 44%;
    margin: 2% 1%;
}

.work-examples article:first-child {
    width: 90%;
}

.work-examples a {
    flex: 1 1 0%;
}

.work-examples a img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: 0% 0%;
}


.work-examples label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    text-align: center;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    padding: 1vh;
}

/* End styles for 'my work' section */

/* Start styles for 'contact' section */
#contact-info {
    background-color: var(--primary-color);
}

.get-in-touch {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.feeling-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.sm-links {
    display: flex;
    flex-wrap: wrap;
    color: var(--quaternary-color);
    font-size: 50px;
    flex-direction: row;
    
}
/* End styles for 'contact' section */

/* REACH OUT STYLES START*/
.contact {
    background: var(--primary-color);
}

.contact h2 {
    color: var(--quaternary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
} 

.contact-info div {
    color: var(--tertiary-color);
}

.contact-info h3 {
    color: var(--quaternary-color);
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    color: var(--tertiary-color);
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size:  16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color:rgba(255,255,255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--quaternary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}

.contact-info a {
    color: var(--tertiary-color);
}

.flex-row {
    display: flex;
}
/* REACH OUT STYLES END */


/* Media query for smaller desktop screens*/

@media screen and (max-width: 980px) {
   header {
       padding-bottom: 0;
       justify-content: center;
   }

   header h1 {
       width: 100%;
       text-align: center;
   }

   footer h2 {
       text-align: center;
       width: 100%;
   }
}

/* Media query for tablets and smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15 px;
    }

    h2 {
        text-align: center;
        display: block;
    }
    
    .bio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }
    .photo{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}
    


/*Media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    
    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .skills-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sm-links {
        flex-direction: row;
    }
}